# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/workspace.xml
smartwebapp/build
smartwebapp/gradle
smartwebapp/gradlew
smartwebapp/gradlew.bat


.idea/artifacts/
.idea/compiler.xml
.idea/gradle.xml
.idea/libraries/
.idea/modules/

smartwebapp/src/main/resources/static/
smartwebapp/src/main/resources/templates/
smartwebapp/src/main/webapp/
smartwebapp/src/test/resources/
src/main/resources/static/
src/main/resources/templates/
src/main/webapp/
src/test/resources/
